@{
    ViewBag.Title = "Exercises";
}

<div id="page-root">
    <div id="div-exercise-listing">
    </div>
    <fieldset class="inline" id="div-add-new-exercise">
        <p>
            <label><strong>Name</strong></label>
            <input type="text" class="shadow long" />
        </p>
        <p>
            <label><strong>Description</strong></label>
            <textarea rows="3" cols="50"></textarea>
        </p>
    </fieldset>
    <button type="submit">Save</button>
    <button type="reset">Cancel</button>
</div>
<script src="~/js/dist/ExerciseIndex.bundle.js"></script>
<script type="text/javascript">

    (function () {
        var index = new ExerciseIndex(document, "@($"http://{Context.Request.Host}{Context.Request.PathBase}")");
        index.Initialize();
    })();
</script>